/* tablet section */
@media screen and (max-width:768px) {
   /* navbar section */
   .nav_content{
    padding: 1rem;
  }
  /* hero section */
  .hero_content{
    flex-direction: column;
    padding: 1rem;
  }
  .hero_text{
    width: 90%;
  }
  .hero_card_2{
    bottom: 8rem;
    left: 0;
  }
  /* habit section */
  .habits{
    grid-template-columns: repeat(2, 1fr);
    padding: 0 2rem;
    gap: 2rem;
  }
  .habit_item{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-self: center;
  }
  .habit_text{
    width: 70%;
  }
  .habit_hero{
    padding: 1rem;
  }
  /* package section */
  .package{
    padding: 1rem;
  }
  .package_text{
    width: 90%;
  }
  .plans{
    grid-template-columns: repeat(1, 1fr);
    padding: 0 10rem;
  }
  /* trainings */
  .trainings{
    padding: 1rem;
  }
  .training_text {
    width: 80%;
  }
  /* bmi section */
  .bmi_text{
    width: 80%;
    padding: 1rem;
  }
  .bmi_content{
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem;
  }
  .table{
    grid-column: 1 / 2;
  }
  .form{
    grid-column: 1 / 2;
  }
  /* team section */
  .team{
    padding: 1rem;
  }
  .team_text{
    width: 80%;

  }
  .trainers{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 300px);
  }
  /* footer section */
  footer{
    padding: 1rem;
  }
  .footer_content{
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .footer_description{
    width: 70%;
  }
}

/* mobile section */
@media screen and (max-width:576px) {
  /* navbar section */
   .nav_content{
    padding: 1rem;
  }
  .checkbox {
    display: block;
  }
  .nav_items {
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: calc(50vh - 85px);
    top: 85px;
    left: -100%;
    border: none;
    transition: left 0.5s;
    border-radius: 0;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .nav_items li a {
    font-size: 1.25rem;
    text-shadow: 2px 2px 2px var(--theme-color), -2px -2px 2px black;
    padding: 0.5rem 1rem;
  }
  /* hero section */
  .hero_content{
    flex-direction: column;
    padding: 1rem;
  }
  .hero_text h1{
    font-size: 2.5rem;
  }
  .hero_card_1{
    top: 3rem;
    right: 0;
  }
  .hero_card_2{
    bottom: 13.5rem;
    left: 0;
  }
  .play_btn > div{
    display: block;
  }
  /* habit section */
  .habit{
    padding: 1rem;
  }
  .habit_text{
    width: 100%;
  }
  .habits{
    grid-template-columns: repeat(1, 1fr);
    padding: 0 2rem;
  }
  /* habit hero */
  .habit_hero{
    padding: 1rem;
  }
  .habit_hero_content{
    flex-direction: column;
  }
  .habit_btn{
    width: 100%;
  }
  /* package section */
  .package{
    padding: 1rem;
  }
  .package_text{
    width: 100%;
  }
  .plans{
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem;
  }
  /* trainings */
  .trainings{
    padding: 1rem;
  }
  .training_text {
    width: 100%;
  }
  .box_3,
  .box_6 {
    display: none;
  }
  .training_gallery {
    grid-template-areas:
      "b1 b1 b1 b1 b1 b1 b2 b2 b2 b2 b2 b2"
      "b4 b4 b4 b4 b4 b5 b5 b5 b5 b5 b5 b5";
  }

  /* bmi section */
  
  .bmi_text{
    width: 100%;
    padding: 1rem;
  }
  .bmi_content{
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem;
  }
  .table{
    grid-column: 1 / 2;
  }
  .form{
    grid-column: 1 / 2;
  }
  /* team section */
  .team{
    padding: 1rem;
  }
  .team_text{
    width: 100%;

  }
  .trainers{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 300px);
  }

  /* footer section */
  footer{
    padding: 1rem;
  }
  .footer_description{
    width: 80%;
  }
  .footer_content{
    grid-template-columns:repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
  }
  .footer_1{
    grid-column: 1 / 2;
  }
}
