@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* css variable */
:root {
  --max-width: 1140px;
  --theme-color: rgb(230, 83, 60);
  --primary-color: black;
  --secondary-color: rgb(34, 34, 34);
  --primary-text-color: rgb(255, 255, 255);
  --secondary-text-color: rgba(255, 255, 255, 0.5);
  --box-shadow: 0.1rem 0.2rem 0.8rem rgb(66, 62, 64);
}

/* reset and common code starts here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
}
body {
  background-color: var(--primary-color);
  color: white;
  font-family: "Inter", sans-serif;
}
html {
  scroll-behavior: smooth;
}
img {
  width: 100%;
  height: auto;
}
a {
  color: white;
}
.section-heading {
  font-size: 2rem;
  font-weight: 900;
  color: var(--primary-text-color);
}
.section-description {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--secondary-text-color);
  padding: 0.5rem 0 2rem 0;
}

.btn {
  background-color: var(--theme-color);
  color: white;
  border: none;
  border-radius: 2rem;
  padding: 0.7rem 2rem;
  font-weight: 600;
  cursor: pointer;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* reset and common code ends here */

/* navbar section starts here */
nav {
  max-width: var(--max-width);
  margin: 0 auto;
  position: sticky;
  z-index: 99;
  top: 0;
  left: 0;
}
.nav_content {
  padding: 1rem 0;
}
.logo {
  color: var(--theme-color);
  font-size: 2rem;
  font-weight: 800;
}
.checkbox {
  display: none;
}
.hamburger {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--primary-text-color);
}
.nav_content input {
  display: none;
}

.nav_items {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border: 1px solid grey;
  border-radius: 2rem;
  padding: 0.3rem 0.1rem;
}

.nav_items a {
  padding: 0.2rem 0.5rem;
  border-radius: 1.5rem;
}
.nav_items a:hover {
  background-color: var(--theme-color);
}

.btn_app{
  background-color: transparent;
  border: 1px solid var(--secondary-text-color);
}
/* navbar section ends here */

/* hero section starts here */
.hero {
  max-width: var(--max-width);
  margin: 0 auto;
}
.hero_content {
  min-height: 90vh;
}
.hero_text {
  flex-basis: 40%;
}
.hero_text h1 {
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--primary-text-color);
  word-spacing: 0.3rem;
}
#shape_style {
  font-style: italic;
}
.hero_text p {
  font-size: 0.9rem;
  color: var(--secondary-text-color);
  padding: 2rem 0;
}
.hero_image {
  flex-basis: 40%;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}
.hero_img {
  max-height: 500px;
}
.hero_card_1 {
  position: absolute;
  top: 7.5rem;
  right: -2.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.6rem 0.8rem;
  border-radius: 0.5rem;
}
.hero_card_1 h3 {
  font-size: 1.8rem;
  font-weight: 800;
  color: var(--primary-text-color);
}
.hero_card_1 p {
  font-size: 0.7rem;
  color: var(--secondary-text-color);
}
.hero_card_2 {
  position: absolute;
  bottom: 4.6rem;
  left: 6.3rem;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.8rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.video_tutorial h3 {
  font-size: 1.5rem;
  color: var(--primary-text-color);
}
.video_tutorial p {
  font-size: 0.7rem;
  color: var(--secondary-text-color);
}
.play_btn {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--theme-color);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play_btn > div{
  background-color: var(--primary-text-color);
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 0 50% 50% 0;
  display: none;
}

/* hero section ends here */

/* habit section starts hero */
.habit {
  max-width: var(--max-width);
  margin: 4rem auto;
}
.habit_text {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.habits {
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  padding: 0 2rem;
}
.habit_item {
  text-align: center;
}
.habit_item img {
  border-radius: 50%;
  width: 80%;
  cursor: pointer;
}
.habit_item img:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}
.habit_description {
  padding: 0 0.5;
}
.habit_description h4 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-text-color);
  padding: 0.5rem;
}
.habit_description p {
  font-size: 0.7rem;
  color: var(--secondary-text-color);
}
/* habit section ends hero */
/* habit hero section starts here */
.habit_hero {
  max-width: var(--max-width);
  margin: 0 auto;
}
.habit_hero_content {
  background-color: var(--secondary-color);
  border-radius: 0.8rem;
  padding: 2rem;
  gap: 2rem;
}
.habit_hero_text {
  flex-basis: 40%;
}
.habit_hero_text p {
  padding: 2rem 0;
  
}
.habit_hero_image {
  flex-basis: 40%;
}
.habit_hero_image img {
  border-radius: 0.8rem;
}
/* habit hero section ends here */
/* package section start here */
.package{
max-width: var(--max-width);
margin: 5rem auto;
}
.package_text{
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.plans{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
}
.plan{
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  
 justify-content: space-around;
  gap: 1.5rem;
  padding: 3rem 2rem;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}
.plan h3{
  font-size: 1.5rem;
}
.plan h4{
  font-size: 2rem;
  
}
.plan p{
  color: var(--secondary-text-color);
  font-size: 0.9rem;
}
.tick{
color: var(--theme-color);
margin-right: 1rem;
}
.btn_package{
  background-color: transparent;
  border: 1px solid var(--theme-color);
}
.btn_package:hover{
  background-color: var(--theme-color);
  border: 1px solid var(--primary-text-color);
}

/* package section ends here */
/* training section starts here */
.trainings {
  max-width: var(--max-width);
  margin: 0 auto;
}
.training_text {
  width: 50%;
}

.training_gallery {
  display: grid;
  height: 60vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "b1 b1 b1 b2 b2 b2 b2 b2 b2 b3 b3 b3"
    "b4 b4 b4 b4 b4 b5 b5 b5 b6 b6 b6 b6";
}
.box {
  background-size: cover;
  background-position: center;
  position: relative;
}

.box p {
  position: absolute;
  bottom: 1rem;
  left: 0.7rem;
}

.box_1 {
  background-image: url("./images/exercise1.jpg");
  background-color: rgba(6, 255, 210, 0.5);
  background-blend-mode: multiply;
  grid-area: b1;
}
.box_2 {
  background-image: url("./images/exercise2.png");
  background-color: rgba(255, 0, 0, 0.3);
  background-blend-mode: multiply;
  grid-area: b2;
}
.box_3 {
  background-image: url("./images/exercise3.png");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;

  grid-area: b3;
}
.box_4 {
  background-image: url("./images/exercise4.png");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  grid-area: b4;
}
.box_5 {
  background-image: url("./images/exercise5.jpg");
  background-color: rgba(66, 255, 0, 0.3);
  background-blend-mode: multiply;
  grid-area: b5;
}
.box_6 {
  background-image: url("./images/exercise6.jpg");
  background-color: rgba(0, 71, 255, 0.3);
  background-blend-mode: multiply;
  grid-area: b6;
}

/* training section ends here */
/* bmi section starts here */
.bmi_text {
  width: 40%;
  margin: 2rem auto 0 auto;
}
.bmi {
  max-width: 100%;
  background-color: var(--secondary-color);
  margin: 1rem auto;
}
.bmi_content {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5rem;
}
.bmi_heading {
  font-size: 1.4rem;
  font-weight: 800;
  color: var(--primary-text-color);
  padding-bottom: 2rem;
}
.table {
  grid-column: 1 / 3;
}
table,
th,
td {
  border: 1px solid var(--secondary-text-color);
  border-collapse: collapse;
  text-align: start;
}
th,
td {
  padding: 0.5rem 1.5rem;
}
th {
  color: var(--primary-text-color);
}
td {
  color: var(--secondary-text-color);
}
.form {
  grid-column: 4 / 7;
}
.form h3 {
  padding-bottom: 1rem;
}
.form p {
  font-size: 0.9rem;
  color: var(--secondary-text-color);
}
form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  padding-top: 2rem;
}
.input_5 {
  grid-column: span 2;
}
form input,
select {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--secondary-text-color);
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
}
option {
  background-color: gray;
  color: var(--secondary-text-color);
}
.btn_calculate {
  width: 70%;
  margin-top: 1rem;
}

/* bmi section ends here */

/* team section starts here */
.team {
  max-width: var(--max-width);
  margin: 0 auto;
}
.team_text {
  width: 50%;
  margin: 3rem auto 2rem auto;
  text-align: center;
}
.trainers {
  display: grid;
  background-color: var(--secondary-color);
  padding: 1.5rem;
  border-radius: 8px;
  min-height: 90vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}
.trainer {
  background-position: top;
  background-size: cover;
  position: relative;
  border-radius: 8px;
}

.trainer h4 {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  font-size: 1rem;
  font-weight: 800;
}
.trainer p {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: 0.8rem;
}
/* team section ends here */

/* footer section starts here */
footer {
  width: 100%;
  background-color: var(--secondary-color);
  margin: 3rem auto 0 auto;
}
.footer_content {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12rem;
}
.footer_1 > h2 > a {
  color: var(--theme-color);
  font-size: 2rem;
 
}
.footer_1 >h2{
  padding-bottom: 1.5rem;
}
.footer_1 {
  grid-column: span 2;
}
.footer_items{
  color: var(--secondary-text-color);
  font-size: 0.8rem;

}
.footer_description{
  color: var(--secondary-text-color);
  font-size: 0.9rem;
  text-align: justify;
}
.footer_items li{
  padding: 0.6rem 0;
}
.hr_style {
  max-width: var(--max-width);
  margin: auto;
  border: none;
  border-top: 1px solid var(--secondary-text-color);
}
.copyright_content {
  text-align: center;
  padding: 1rem;
}
.copyright {
  color: var(--secondary-text-color);
}
/* footer section ends here */
